
img{
	width: 400px !important;
	height: 180px !important;
  padding-top: 50px !important;
  background-color: rgba(255,255,255,0.5);
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.block-flex{
    display: flex;
    justify-content: center;
}
.blocks{
	display: flex;
	justify-content: center;
  margin-top: 50px;
}
button{
  border-radius: 4px;
  background-color: rgba(255,255,255,0.8);
  border:1px solid rgba(183,6,6,0.8);
  color: #B70606;
  font-family: century gothic;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 30px;
  margin-left: 250%;
}
.button{
  border-radius: 4px;
  background-color: rgba(255,255,255,0.8);
  border:1px solid rgba(183,6,6,0.8);
  color: #B70606;
  font-family: century gothic;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 30px;
}
.button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span{
  padding-right: 25px;
}
.button:hover span:after{
  opacity: 1;
}
th
{
  font-family: century gothic;
  color:black ; 
}
td
{
  font-family: century gothic;
  color:black;
}

table {
  margin: 20px auto;
  background-color:white;
  border-radius: 4px;
}

table, td, th {
  width: 1000px;
  border: 2px solid rgba(183,6,6,0.8);
  padding: .3rem .3rem;
}