
.colums{
  margin: 10px;
}

td{
  width: 100px;
  height: 30px;
}
input{
  margin-right:.5rem;
}
p{
  color: white;
  font-size: 18px;
}
th p{
  color: black;
  text-align: center;
}
.col-md-8{
  background-color: rgba(255,255,255,0.8);
  opacity: .8;
}
.table {
  margin: 20px auto;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(183,6,6,0.8);
}
.table, .td, .th {
  width: 1300px;
  border: 2px solid rgba(183,6,6,0.8);
}
.send{
  border-radius: 4px;
  background-color: #f4511e;
  border: 1px solid ;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
}
.send span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.send span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.send:hover span{
  padding-right: 25px;
}
.send:hover span:after{
  opacity: 1;
}
.send{
  margin-left: 1150px;
  margin-top: 50px;
}
.multiselect-container.dropdown-menu{
  height: 25rem;
  overflow:scroll;
  width: 10rem;
}
.multiselect.dropdown-toggle.btn.btn-default{
  padding: 0 2rem;
}
