

header{
    display: flex;
    justify-content: center;
}
.img img{
    height: 80px;
    width: 230px;
    margin-bottom: 30px;
    margin-top: 15px;
}
.container
{
    width: 1200px;
    margin: 0 auto;
}

.block-flex{
    display: flex;
    justify-content: center;
}
        .d-flex{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
        }
        .red{
            display: flex;
            justify-content: center; 
            height: 180px;
            width: 300px;
            margin:1px;
            background-size: cover;
            align-items: center;
            text-decoration: none;
            background-image: url(images/red.jpg);
            transition: 0.4s ease;
        }
        .red1{
            display: flex;
            justify-content: center; 
            height: 180px;
            width: 400px;
            margin:1px;
            background-size: cover;
            align-items: center;
            text-decoration: none;
            background-image: url(images/red.jpg);
            transition: 0.4s ease;
        }
.red:hover{
    transform: scale(1.2);
}
.red1:hover{
    transform: scale(1.2);
}
.red2:hover{
    transform: scale(1.2);
}
.red3:hover{
    transform: scale(1.2);
}
.red4:hover{
    transform: scale(1.2);
}
.red5:hover{
    transform: scale(1.2);
}
.red6:hover{
    transform: scale(1.2);
}
.blue:hover{
    transform: scale(1.2);
}

        .red2{
            display: flex;
            justify-content: center; 
            height: 180px;
            width: 300px;
            margin:1px;
            background-size: cover;
            align-items: center;
            text-decoration: none;
            background-image: url(images/red.jpg);
            transition: 0.4s ease;
        }
        .red3{
            display: flex;
            justify-content: center; 
            height: 140px;
            width: 400px;
            margin:1px;
            background-size: cover;
            align-items: center;
            text-decoration: none;
            background-image: url(images/red.jpg);
            transition: 0.4s ease;
        }
        .red4{
            display: flex;
            justify-content: center; 
            height: 150px;
            width: 400px;
            margin:1px;
            background-size: cover;
            align-items: center;
            text-decoration: none;
            background-image: url(images/red.jpg);
            transition: 0.4s ease;
        }
        .red5{
            display: flex;
            justify-content: center; 
            height: 150px;
            width: 300px;
            margin:1px;
            background-size: cover;
            align-items: center;
            text-decoration: none;
            background-image: url(images/red.jpg);
            transition: 0.4s ease;

        }
        .red6{
            display: flex;
            justify-content: center; 
            height: 150px;
            width: 300px;
            margin:1px;
            background-size: cover;
            align-items: center;
            text-decoration: none;
            background-image: url(images/red.jpg);
            transition: 0.4s ease;
        }
        a
        {
            text-decoration: none;
        }
.red h1{
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    width: 100%;
    padding-left: 5%;
    padding-top: 10%;
    font-family: century gothic;
}
.red1 h1{
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    width: 100%;
    padding-left: 5%;
    padding-top: 10%;
    font-family: century gothic;
}
.red2 h1{
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    width: 100%;
    padding-left: 5%;
    padding-top: 10%;
    font-family: century gothic;
}
.red3 h1{
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    width: 100%;
    padding-left: 5%;
    padding-top: 10%;
    font-family: century gothic;
}
.red4 h1{
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    width: 100%;
    padding-left: 5%;
    padding-top: 10%;
    font-family: century gothic;
}
.red5 h1{
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    width: 100%;
    padding-left: 5%;
    padding-top: 10%;
    font-family: century gothic;
}
.red6 h1{
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    width: 100%;
    padding-left: 5%;
    padding-top: 10%;
    font-family: century gothic;
}
 .blue{
    display: flex;
    justify-content: center;
    height: 140px;
    width: 600px;
    background-image: url(images/red.jpg);
    margin: 1px;
    background-size: cover;
    align-items: center;
    transition: 0.4s ease;
 } 
 .blue h1{
    color: white;
    padding-top: 10%;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
    width: 100%;
    padding-left: 5%;
    font-family: century gothic;
 }