
.logo img{
   width: 30%;
   height: 30%;
   margin-left: 30%;
}
.logo img{
	margin-top: 40%;
}
.col1
{
	float: left;
	width: 50%;
	background-color: rgba(183,6,6,0.7);
	height: 400px;
}
.col1 h1
{
	font-family: contury gothic;
}
.odk
{
	background-color: rgba(183,6,6,0.8);
	font-family: centry gothic;
	color: white;
	height: 20px;
	width: 80px;
}
.col2
{
	background-color: rgba(255,255,255,0.6);
	height: 400px;
	float: right;
	width: 50%;
	opacity: .8;
}
.col2 h1
{
   font-family: century gothic;
   color: #b50606;
   padding-left: 60px;
}
.col2 input
{
	background-color: rgba(183,6,6,0.8);
	font-family: century gothic;
	color: white;
}
.col2 p
{
	font-family: century gothic;
	color: rgba(183,6,6,1);
}
.tipdg
{
	margin-top: 15%;
}
.tipdg h1
{
	padding-left: 10%;
	font-family: century gothic;
	font-size: 300%;
	color: white;
}
.row 
{
	margin-top: 50px;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.word{
	margin-top: %;
}
.word h1
{
	padding-left: 10%;
	font-family: century gothic;
	font-size: 300%;
	color: white;
}

.col1{
	margin: 0 0 20px;
}
.da{
	margin-top: 5%;
	margin-left: 2%;
	font-family: century gothic;
	color: white;
}
.da1{
	margin-top: -11.1%;
	margin-left: 30%;
	font-family: century gothic;
	color: white;
}
.da2{
	margin-top: -11.1%;
	margin-left: 58%;
	font-family: century gothic;
	color: white;
}
.da3{
	margin-top: 0%;
	margin-left: 2%;
	font-family: century gothic;
	color: white;
}
.da4{
	margin-top: -11.4%;
	margin-left: 30%;
	font-family: century gothic;
	color: white;
}
.da5{
	margin-top: 5%;
	margin-left: 2%;
	font-family: century gothic;
	color: white;
}
.da6{
	margin-top:-10.5%;
	margin-left: 30%; 
	font-family: century gothic;
	color: white;
}
.da7{
	margin-top: -11.1%;
	margin-left: 58%;
	font-family: century gothic;
	color: white;
}.da8{
	margin-top: 3%;
	margin-left: 2%;
	font-family: century gothic;
	color: white;
}

.da9{
	margin-top: -10.5%;
	margin-left: 30%;
	font-family: century gothic;
	color: white;
}
.da10{
	margin-top: -11.1%;
	margin-left: 58%;
	font-family: century gothic;
	color: white;
}
#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
}



/* The about link: 20px from the top with a green background */
.about {
  top: 80%;
  background-color: #4CAF50;
}
.mySidenav{

}
.prinyat{
  border-radius: 4px;
  opacity: .8;
  background-color:red;
  border:none;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 20px;
}
.prinyat span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.prinyat span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.prinyat:hover span{
  padding-right: 25px;
}
.prinyat:hover span:after{
  opacity: 1;
}



