body
{
	margin: 0;
    padding: 0;
	background-image: url(fon.jpg.jpg);
}
.logo img{
   width: 30%;
   height: 30%;
   margin-left: 30%;
}
.logo img{
	margin-top: 40%;
}
.col1{
	float: left;
	width: 50%;
	background-color: #B70606;
	opacity: .8;
	height: 400px;
}
h1
{
	font-family: contury gothic;
	
}
.col2{
	background-color: grey;
	height: 400px;
	float: right;
	width: 50%;
	opacity: .8;
}
.tipdg{
	margin-top: 15%;
}
.tipdg h1
{
	padding-left: 10%;
	font-family: century gothic;
	font-size: 300%;
	color: white;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.word{
	margin-top: %;
}
.word h1
{
	padding-left: 10%;
	font-family: century gothic;
	font-size: 300%;
	color: white;
}

.col1{
	margin: 0 0 20px;
}
.da{
	margin-top: 5%;
	margin-left: 2%;
	font-family: century gothic;
	color: white;
}
.da1{
	margin-top: -11.1%;
	margin-left: 30%;
	font-family: century gothic;
	color: white;
}
.da2{
	margin-top: -11.1%;
	margin-left: 58%;
	font-family: century gothic;
	color: white;
}
.da3{
	margin-top: 0%;
	margin-left: 2%;
	font-family: century gothic;
	color: white;
}
.da4{
	margin-top: -11.4%;
	margin-left: 30%;
	font-family: century gothic;
	color: white;
}
.da5{
	margin-top: 5%;
	margin-left: 2%;
	font-family: century gothic;
	color: white;
}
.da6{
	margin-top:-10.5%;
	margin-left: 30%; 
	font-family: century gothic;
	color: white;
}
.da7{
	margin-top: -11.1%;
	margin-left: 58%;
	font-family: century gothic;
	color: white;
}.da8{
	margin-top: 3%;
	margin-left: 2%;
	font-family: century gothic;
	color: white;
}

.da9{
	margin-top: -10.5%;
	margin-left: 30%;
	font-family: century gothic;
	color: white;
}
.da10{
	margin-top: -11.1%;
	margin-left: 58%;
	font-family: century gothic;
	color: white;
}
#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  right: -50px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 70%;
  background-color: #4CAF50;
}

#blog {
  top: 80%;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 90%;
  background-color: #f44336; /* Red */
}

#contact {
  top: 200px;
  background-color: #555 /* Light Black */
}



